body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: lightblue;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #085647;
    line-height: 50px;    
    padding: 0 35px;
}

.my-name {
    margin: 0;
    background-color: #64c4b1;
    width: 23%;
    text-align: center;
}

nav {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

a {
    color: #64c4b1;
}

