html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: lightblue;
}

header {
    display: flex;
    background-color: #085647;
    padding: 0 35px;
    align-items: center;
    justify-content: space-between;
}

header span {
    display: flex;
    margin: 0;
    background-color: #64c4b1;
    width: 310px;
    height: 100px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: xx-large;
}

.pic-1 {
    width: 100px;
    height: 100px;
}

.links {
    text-align: right;
}

.links ul li {
    display: inline-block;
    margin-left: 25px
}

a {
    color: #64c4b1;
    font-size: 120%;
    text-decoration: none;
}

#tooltip {
    position: relative;
}

#tooltip:hover::after {
    content: "Coming Soon";
    position: absolute;
    background-color: #64c4b1;
    color: #085647;
    left: 0px;
    bottom: 25px;
    min-width: 100px;
    text-align: center;
    font-size: 80%;
    border: 1px solid black;
}

#flag {
    height: 50px;
    background: linear-gradient(180deg, #FE0000 16.66%,
            #FD8C00 16.66%, 33.32%,
            #FFE500 33.32%, 49.98%,
            #119F0B 49.98%, 66.64%,
            #0644B3 66.64%, 83.3%,
            #C22EDC 83.3%);
    text-align: right;
    padding: 15px 30px;
    font-size: 100%;
}

#flag span {
    background-color: #64c4b1;
    padding: 6px;
}

.sections {
    display: flex;
    margin: 25px;
}

.sub-headers {
    font-size: 150%;
    text-wrap: wrap;
    text-align: right;
    line-height: 35px;
    margin-right: 40px;
    border-right: 2px solid darkblue;
    padding-right: 10px;
    flex: 1;
}

#about-me,
#contact-me {
    text-wrap: wrap;
    height: fit-content;
    line-height: 25px;
    font-size: medium;
    flex: 3;
}

#w-container {
    flex: 3;
    height: fit-content;
}

#refactor {
    position: relative;
}

#refactor span {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background-color: lightblue;
    color: black;
    border: 1px solid black;
    font-size: 100%;
}

#horiseon {
    width: 90%;
}

.placeholder {
    display: inline-block;
    width: 44%;
    height: 80px;
    line-height: 80px;
    background-color: darkblue;
    color: lightblue;
    margin: 10px 10px 5px 0;
    text-align: center;
    font-size: 100%;
}

#contact-me a {
    color: darkblue;
}

@media screen and (max-width: 768px) {
    .sub-headers {
        padding-right: 12px;
        font-size: 100%;
    }

    #about-me {
        font-size: small;
    }

    #refactor span {
        font-size: 60%;
    }

    .placeholder {
        font-size: 60%;
    }
}